[Unit]
Description=Prometheus Node Exporter
After=observability-pod.service
Wants=observability-pod.service

[Container]
Image=docker.io/prom/node-exporter:latest
Pod=observability.pod
ContainerName=node-exporter
Volume=/proc:/host/proc:ro,rslave
Volume=/sys:/host/sys:ro,rslave
Volume=/:/host:ro,rslave
Exec=--path.procfs=/host/proc \
     --path.sysfs=/host/sys \
     --path.rootfs=/host

[Service]
Restart=always

[Install]
WantedBy=default.target